@import '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: $gray-1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: 1;

  @media (min-width: $desktop-1) {
    height: 70px;
  }

  &__logo {
    padding: 0 5px;

    @media (min-width: $desktop-1) {
      padding: 10px;
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate3d(-50%, -50%, 0);
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  &__search-form {
    height: 100%;
    flex-grow: 4;
    text-align: right;

    input[type='text'] {
      transition: width 0.5s;
      height: 100%;
      width: 0;
      border: 0;
      padding: 0;
      color: $gray-3;
      background-color: $gray-1;
      text-indent: 8px;
      position: relative;
      z-index: 1;
    }

    button {
      transition: opacity 0.5s;
      height: 100%;
      width: 40px;
      color: #fff;
      font-size: 20px;
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer;
      background-color: $gray-1;

      &[type='reset'] {
        z-index: 1;
        opacity: 0;
      }

      &[type='submit'] {
        z-index: 2;
        opacity: 1;
      }
    }

    &--opened {
      input[type='text'] {
        width: calc(100% - 10px);
      }

      button[type='reset'] {
        z-index: 2;
        opacity: 1;
      }

      button[type='submit'] {
        z-index: 1;
        opacity: 0;
      }
    }
  }
}
