.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: #a9a9a92b;

  &__logo {
    padding: 0 5px;
  }

  &__search-form {
    height: 100%;
    flex-grow: 4;
    text-align: right;

    input[type="text"] {
      transition: width 0.5s;
      height: 100%;
      width: 0;
      border: 0; 
      padding: 0;
      color: #a9a9a9;
      background: transparent;
      text-indent: 8px;
    }

    &--opened {
      input[type="text"] { 
        width: calc(100% - 40px); 
      }
    }



    button {
      height: 100%;
      width: 40px;
      color: #fff;
    }
  } 
}