/* COLOURS */

$gray-1: #1c1c1c;
$gray-2: gray;
$gray-3: #a9a9a9;
$gray-4: #3a3a3a;

$primary: yellow;

/* BREAKPOINTS */

$tablet-1: 767px;
$tablet-2: 1023px;

$desktop-1: 1279px;

$max-width-image: 350px;