@import '../../styles/variables';

.search-list {
    display: flex;
    flex-direction: column; 
    
    @media(min-width: $tablet-1) {
        flex-flow: row wrap;
    }

    &__item {
        font-size: 12px;
        display: flex;
        margin: 0 10px;
        padding: 10px 0;
        border-bottom: 1px solid $gray-4;

        @media(min-width: $tablet-1) {
            width: calc(50% - 20px);
        }

        @media(min-width: $desktop-1) {
            width: calc(33.33333% - 20px);
        }

        a {
            width: 20%;
            img {
                width: 100%;
            }
        }
    }

    &__item-info {
        margin: 0 0 0 20px;

        h3 {
            color: $primary;
            padding: 0;
            margin: 0 0 6px 0;
            font-size: 16px;
            font-weight: normal;
        }

        span {
            color: $gray-2;
            font-size: 13px;
        }
    }
}