@import '../../styles/variables';

.app-wrapper {
  margin: 0 1% auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  padding-top: 60px;

  @media (min-width: $desktop-1) {
    padding-top: 90px;
  }
}
