.userInteraction {
  color: yellow;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  background-color: #1c1c1c;
  width: 100%;
  text-align: center;
  align-items: center;
  font-size: 20px;

  @media (min-width: 1023px) { 
    position: static;
    margin-top: 20px;
    position: static;
    width: 30%;
    margin: 0 auto;
  }

  &__watched {
    width: 20%;
  }

  &__votes {
    width: 60%;

    li {
      margin: 4px;
    }
  }

  &__like {
    width: 20%;
  }

}

